{% extends "mobilemovies.html.twig" %}
{% block disclaimer %}
<section class="content"> 
<div class="shell"> 
<h3><p class="tab">{{disclaimer|raw}}</p></h3>
</div>
</section>
<script>
$(document).ready(function(){ window.scroll(0,700); });
</script>

{% endblock disclaimer %}
