{% extends "mobilemovies.html.twig" %}
{% block disclaimer %}

<section class="content">            
       <div class="shell"> 
       <div class="main">
<h3><p class="tab">{{disclaimer|raw}}</p></h3>
<script>
$(document).ready(function(){ window.scroll(0,700); });
</script>
</div>
   </div> 
 
</section>
{% endblock disclaimer %}
