<!DOCTYPE html>
<html>
    <head>
        {% block head %}
        <meta charset="utf-8" />   
        <meta name="viewport" content="width=device-width, initial-scale=1,minimum-scale=1, maximum-scale=1, user-scalable=0" />
        <title>filme html5 online </title>
        <link rel="shortcut icon" type="image/x-icon" href="css/images/favicon.ico" />
        <link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=coda"  type="text/css" />
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=jura:400,500,600,300" type="text/css" />
         {% endblock %}
    </head>
    <body>
      <div class="wrapper">
		  <header class="header">
			<div class="shell"> 
			 <div class="header-top"></div>
			  <div class="sliderp">
   			   <div class="scalable video-16-9">
			    <div class="video-content">
				 <iframe src="{{video}}"</iframe>
				</div>
			  </div>
             </div>
            </div>
           </header>
       </div>
     </body>
</html>
